*{
    margin: 0%;
    padding: 0%;
}
body{
    background: rgb(240, 240, 240);
    font-family: 'Trebuchet MS';
}
.container{
    margin: 0 6rem;
    margin-top: 4rem;
}
.card{
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px 2px rgba(0, 0, 0, 0.05);
    background: white;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.img{
    flex: 1;
}

.detail{
    flex:3;
    
}

.img img{
    width: 250px;
    border-radius: 5px;
}

.detail h2{
    text-transform: uppercase;
    color: mediumslateblue;
    margin-bottom: 1rem;
}
.detail h3 span{
    color: mediumslateblue;
}
.detail p{
    color: rgb(51, 51, 51);
    margin-bottom: 1rem;
}
.detail a{
    text-decoration: none;
    color: white;
    background: mediumslateblue;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}

@media (max-width:1254px) {
    .card{
        flex-direction: column;
    }
    .container{
        margin: 0 0rem;
        
    }
    .img{
        flex: 0;
    }
    
    .detail{
        flex:0;
        
    }
}